bin
.cache
include/Calc.def
include/Calc-parenthesize.str
include/Calc-Permissive.def
include/Calc.generated.pp.af
include/Calc.packed.esv
include/Calc.pp.af
include/Calc.rtg
include/Calc.str
include/Calc.tbl
include/calc.rtree
include/calc.ctree
include/calc.ctree.dep
include/calc.jar
editor/java/trans
editor/Calc-*.generated.esv
syntax/Calc*.generated.esv
.settings/org.eclipse.jdt.core.prefs
utils
lib/*.generated.str
lib-refactoring/*.generated.str
