<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="cal" description="Calc" language="Calc" derivedFrom="DynamicRoot" validator="Calc.CalcValidator" validatorClass="Calc.CalcValidator"></language>
       </extension>
       <extension id="Calc.parser" name="Calc Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="Calc.CalcParseController" language="Calc">
          </parser>
       </extension>    
    </plugin>